<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft_Office_Launcher.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <Microsoft_Office_Launcher.My.MySettings>
            <setting name="Access" serializeAs="String">
                <value>"C:\Program Files (x86)\Microsoft Office\root\Office16\MSACCESS.EXE"</value>
            </setting>
            <setting name="Excel" serializeAs="String">
                <value>"C:\Program Files (x86)\Microsoft Office\root\Office16\EXCEL.EXE"</value>
            </setting>
            <setting name="OneNote" serializeAs="String">
                <value>"C:\Program Files (x86)\Microsoft Office\root\Office16\ONENOTE.EXE"</value>
            </setting>
            <setting name="Outlook" serializeAs="String">
                <value>"C:\Program Files (x86)\Microsoft Office\root\Office16\OUTLOOK.EXE"</value>
            </setting>
            <setting name="PowerPoint" serializeAs="String">
                <value>"C:\Program Files (x86)\Microsoft Office\root\Office16\POWERPNT.EXE"</value>
            </setting>
            <setting name="Publisher" serializeAs="String">
                <value>"C:\Program Files (x86)\Microsoft Office\root\Office16\MSPUB.EXE"</value>
            </setting>
            <setting name="UploadCenter" serializeAs="String">
                <value>"C:\Program Files (x86)\Microsoft Office\root\Office16\MSOUC.EXE"</value>
            </setting>
            <setting name="Word" serializeAs="String">
                <value>"C:\Program Files (x86)\Microsoft Office\root\Office16\WINWORD.EXE"</value>
            </setting>
            <setting name="MinOnLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AppName" serializeAs="String">
                <value>Microsoft Office Launcher</value>
            </setting>
            <setting name="OfficeVersion" serializeAs="String">
                <value>Professional</value>
            </setting>
            <setting name="ExplorerStartPath" serializeAs="String">
                <value />
            </setting>
        </Microsoft_Office_Launcher.My.MySettings>
    </userSettings>
</configuration>
